* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  direction: ltr;
  height: 100vh;
  width: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(205, 248, 234);
  text-align: center;
}

h1 {
  margin-bottom: 30px;
}

.main-container {
  height: 600px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 00, 0, 0.1), 10px 10px 5px rgba(34, 34, 34, 0.2), 20px 10px 10px rgba(34, 34, 34, 0.2), 5px 5px 5px rgba(54, 54, 54, 0.1),
    inset 3px 1px 3px #422601, inset -3px 1px 3px #15100a;
}

.container {
  height: 95%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(246, 231, 116);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 00, 0, 0.1), 10px 10px 5px rgba(34, 34, 34, 0.2), 20px 10px 10px rgba(34, 34, 34, 0.2), 5px 5px 5px rgba(54, 54, 54, 0.1),
    inset 3px 1px 3px #bd6d04, inset -3px 1px 3px #bd6d04;
}

.sudoku-board {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 3px;
  width: 95%;
  height: 95%;
}

.grid-cell {
  border: 1px solid black;
  display: grid;
  place-items: center;
  border-radius: 9px;
  height: 100%;
  width: 100%;
  background-color: rgb(161, 212, 168);
  cursor: pointer;
}

.grid-cell.filled {
  background-color: rgb(169, 99, 235);
  color: black;
}

.grid-cell.selected {
  background-color: rgb(9, 78, 61);
  color: white;
}

.grid-cell:hover {
  border: 2px solid rgb(2, 48, 23);
}

.numbers{
  display: grid;
  grid-template-columns: repeat(5 , 1fr);
  gap: 5px;
  margin-top: 10px;
}

.number {
  height: 30px;
  width: 45px;
  border-radius: 10px;
  background-color: #f19249;
  color: black;
  font-size: 20px;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.delete{
  background-color: rgb(238, 9, 63);
}

@media (max-width: 465px) {
  .main-container {
    width: 95%;
    height: 50%;
  }
}

@media (max-width: 425px) {
  .main-container {
    width: 95%;
    height: 40%;
  }
}